.nav {
    /* border: 3px solid yellow; */
    width: 100%;
    height: auto;
    background: linear-gradient(81deg,
            #e7f0ff 9.01%,
            rgba(232, 241, 255, 0.47) 89.11%) !important;
    box-shadow: none !important;
}

.navContainer {
    /* border: 3px solid rgb(4, 0, 255); */
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoBox {
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
}

.logoIcon {
    width: auto !important;
    height: 43px !important;
    padding: 5px;
    border-radius: 10px;
    background-color: #2aa8ff;
    color: white;
    margin-right: 5px;
}

.logoText {
    font-family: "Poppins", sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #2aa8ff;
    letter-spacing: 1px !important;
}

.menu {
    /* border: 2px solid black; */
    width: 50% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul {
    /* border: 2px solid pink; */
    width: auto !important;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.liItem {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    margin-right: 25px !important;
    color: black !important;
}

.liItem a:hover {
    padding-bottom: 8px;
    border-bottom: 4px solid #2AA7FF;
    color: #2AA7FF !important;
    font-weight: 600;
}

.button {
    font-family: "Poppins", sans-serif !important;
    width: 130px !important;
    height: 40px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    text-transform: capitalize !important;
    background-color: #2aa8ff !important;
    color: white !important;
    border: none;
}

/* .....................Mobile Navbar....................... */
.mobileNav {
    justify-content: flex-end;

}

.menuIcon {
    background-color: #2aa8ff;
    width: auto !important;
    height: 40px !important;
    padding: 5px;
    border-radius: 5px;
}

.mobileNavItem {
    width: 100%;
    text-align: center;
    /* border: 2px solid red !important; */
}

.mobileNavItem a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: #000;


}

.mobileNavItem a:hover {
    background-color: #2aa8ff;
    color: white;
    font-weight: 600;
}

.activeLink {
    padding-bottom: 8px;
    border-bottom: 4px solid #2AA7FF;
    color: #2AA7FF !important;
    font-weight: 600;
}


@media (max-width: 955px) {
    .liItem {
        margin-right: 13px !important;
    }
}