.MedicalSpecialistBox {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  padding: 50px 0px;
}
.title {
  /* border: 2px solid red; */
  width: 100%;
  height: auto;
  text-align: center !important;
  color: #1b3c74 !important;
  font-size: 48px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
}
.swiper{
    /* border: 5px solid blue !important; */
    width: 100% !important;
    height: auto !important;
    margin-top: 30px !important;
}
.swiperItem {
  /* border: 5px solid yellow; */
  width: auto !important;
  height: auto !important;
  
}
.card {
  border: 1px solid rgb(229, 231, 229);
  width: auto !important;
  height: auto !important;
  padding: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
  background: white !important;
  box-shadow: 0px 15px 55px -10px #00000017 !important;
  border-radius: 250px 250px 8px 8px !important;
}
.Img {
  /* border: 2px solid red; */
  width: auto !important;
  height: auto;
  object-fit: contain;
  padding: 56px 15px 0px 15px !important;
  border-radius: 250px 250px 8px 8px !important;
  background: linear-gradient(144.2deg, #e1f3ff 0%, #2aa7ff 100%) !important;
}
.name {
  font-size: 24px !important;
  font-weight: 400 !important;
  text-align: center !important;
  color: #1b3c74 !important;
  font-family: "Poppins", sans-serif !important;
}
.description {
    margin-top: 5px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  text-align: center !important;
  color: #2aa7ff !important;
  font-family: "Poppins", sans-serif !important;
}
