.patientCaring {
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  padding: 50px 10px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
.gridContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}
.callGridContainer {
  /* border: 2px solid red; */
  width: auto !important;
  height: auto;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.card {
  /* border: 2px solid black; */
  width: 100% !important;
  height: auto;
  display: flex;
  padding: 10px !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99999 !important;
}
.callItem {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: auto;
  height: 34px;
  padding-right: 5px;
}

.title {
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #1b3c74 !important;
  font-family: "Poppins", sans-serif !important;
}

.description {
  font-size: 15px !important;
  font-weight: 500 !important;
  color: #77829d !important;
  margin-top: 10px !important;
  font-family: "Poppins", sans-serif !important;
}

/* .................................Grid itme 2 .................................. */
.secImg {
  width: auto;
  height: 275px;
  position: relative;
  left: -50px;
  z-index: 5;
}

.ThidImg {
  width: auto;
  height: 275px;
  position: relative;
  top: -70px;
  /* left: 150px; */
  z-index: 9999;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.contentGridItem{
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    padding: 20px 10px !important;
}
.Sectitle {
  font-size: 16px !important;
  font-weight: 600 !important;
  text-align: start !important;
  font-family: "Poppins", sans-serif !important;
  color: #2aa7ff !important;
  margin-top: 20px !important;
}
.Thidtitle {
  font-size: 48px !important;
  font-weight: 600 !important;
  text-align: start;
  font-family: "Poppins", sans-serif !important;
  color: #1b3c74 !important;
}
.Thidtitle span {
  font-size: 48px !important;
  font-weight: 600 !important;
  text-align: start;
  font-family: "Poppins", sans-serif !important;
  color: #2aa7ff !important;
  margin-top: 20px !important;
}
.description {
  font-family: "Poppins", sans-serif !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  text-align: start !important;
  letter-spacing: 1px;
  color: #77829d !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.ul {
  list-style: none;
  cursor: pointer;
  margin-top: 30px;
}
.li {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 27px !important;
  text-align: start;
  color: #1b3c74 !important;
  margin: 20px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.liImg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
